/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  background: #8000FF;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

}

h1 {
  color: #ffff;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  text-transform: uppercase;
}

p {
  color: #fff;
}

li {
  color: #fff;
}

a {
  color: #fff;
}